

.hero-image{
    background-image:url(blue-dot-splash.jpg) ;
    width:180%
}

.box{
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border: 5px solid #b1cedc;
}

body{
    background-image: url(download.jpg);
			font-family:"Oswald", sans-serif ;
}